body
    color: #222
    font-size: 17px
    font-family:"SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", Verdana, Arial, '微软雅黑', '宋体'

a
    text-decoration: none
    color: #222

@import './partial/layout'
@import './partial/header'
@import './partial/index'
@import './partial/footer'
@import './partial/post'
@import './partial/highlight'
@import './partial/comments'
