<main>
    <div class="main-container">
        <div class="post-list">
            <% var posts = site.posts.sort('date', 'desc'); %>
            <% posts.forEach(post => { %>
                <div class="post-item">
                    <a href="<%- url_for(post.path) %>"><span class="post-item-date"><%= date(post.date, 'YYYY/MM/DD') %></span> <%- post.title %></a>
                </div>
            <% }) %>
        </div>
    </div>
</main>
