<!DOCTYPE html>
<html>
<%- partial('partial/head') %>
<body>
    <div class="body-container">
        <div class="header-wrapper"><%- partial('partial/header') %></div>
        <div class="main-wrapper"><%- body %></div>
        <div class="footer-wrapper"><%- partial('partial/footer') %></div>
    </div>
</body>
</html>
