body
    color: #222
    font-size: 22px
    font-family:Consolas, Consolas, Consolas, Consolas, Consolas, Consolas, Consolas, Consolas
    text-align: justify;
a
    text-decoration: none
    color: #7c2609

@import './partial/layout'
@import './partial/header'
@import './partial/index'
@import './partial/footer'
@import './partial/post'
@import './partial/highlight'
@import './partial/comments'
