.footer-container
    display: flex
    justify-content: center
    margin-bottom: 20px

.footer-meta
    font-size: 11px
    color: #999
    width: 100%
    margin: 0 10px
    display: inline-flex
    a
        color: #777
        &:hover
            color: #555

.footer-meta > div:not(:last-child)
    margin-right: 5px
