.main-container
    display: flex
    justify-content: center

.post-list
    width: 100%
    margin: 0 10px

.post-item
    width: 100%
    text-align: left
    &:not(:last-child)
        margin-bottom: 10px

.post-item-date
    font-size: 0.9em
    color: #555
