.post-details
    color: #555
    font-size: 15px
    width: 100%
    margin: 0 10px
    inline-height: 1.8em
    a:not(.nonstyle)
        text-decoration: none
        color: #3A97FF
        box-shadow: 0 1px 0 #555
        &:hover
            box-shadow: 0 1px 0 #3A97FF
    .post-title
        margin-bottom: 10px
        h1
            color: #222
            font-size: 1.5em
            font-weight: normal
            margin-block: 0
    .post-meta
        margin-bottom: 20px
        font-size: 14px
        color: #999
    .post-content
        h1
        h2
        h3
        h4
        h5
        h6
            color: #222
            margin-block: 0
            margin-inline: 0
            margin-top: 20px
            margin-bottom: 15px
            line-height: 1.2em
        h1
            font-size: 1.4em
        h2
            font-size: 1.3em
        h3
            font-size: 1.2em
        h4
            font-size: 1.1em
        h5
            font-size: 1em
        h6
            font-size: 0.9em
        p
            margin-block: 0
            line-height: 1.8em
            &:not(:last-child)
                margin: 0 0 10px
        img
            max-width: 100%
        blockquote
            margin-block: 0
            margin-inline: 0
            padding:3px 10px
            background-color: #eee
            border-left: 7px solid #999
            &>p
                margin: 0 0
        kbd
            padding: 1px 3px
            background-color: #eee
            box-shadow: 1px 2px #999
            border-radius: 3px
        mark
        code:not(.hljs)
            padding: 1px 3px
            background-color: #eee
            border-radius: 3px
        table
            text-align: left
            border-collapse: collapse
        th
        td
            padding: 5px
            border: 1px solid #eee
        tr:nth-child(even)
            background-color: #eee
        th
            font-weight: 400
            background-color: #ddd
        table
            margin: 1em 0
            width: 100%

.katex > .katex-html
    white-space: normal

.katex .base
    margin-top: 5px
    margin-bottom: 5px
